<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <meta name="description" content="<%= locals.description %>">
    <link rel="stylesheet" href="/css/style.css">
    <!-- <script type="text/javascript" defer src="/script.js"></script> -->
</head>
<body>
    <h1>Hello!</h1>
    <p>Welcome to the EJS tutorial.</p>
    <a href="/about">Learn more about us</a>
    <p>age = <%= age %>!</p>
    <p><%= termilog %></p>

    <h1>Common Items List</h1>
    <ul>
      <% items.forEach(item => { %>
          <li><%= item %></li>
      <% }) %>
    </ul>
</div> 
<a href="/showtable2">see table from database</a>
    <p>Everybody can see table in page showtable</p>

    <nav class="nav">
        <i class="uil uil-bars navOpenBtn"></i>
        <a href="#" class="logo">CodingLab</a>
        <ul class="nav-links">
          <i class="uil uil-times navCloseBtn"></i>
          <li><a href="#">Home</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
        <i class="uil uil-search search-icon" id="searchIcon"></i>
        <div class="search-box">
          <i class="uil uil-search search-icon"></i>
          <input type="text" placeholder="Search here..." />
        </div>
      </nav>

</body>
</html>
